<!--

╔╔╗╔╔╔═╔═  ╔╗╦║║╦╗╦╔╗
║║║╠╠╠═╠═  ╚╗║║║║║║║║
╚╚╝║║╚═╚═  ╚╝║╚╝╩╝╩╚╝

www.coffeestudio.ru
support: web@coffeestudio.ru
creature: 2017

-->


<!DOCTYPE html>
{% load static %}
{% load meta_tags %}
<html lang="ru" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="telephone=no" name="format-detection">
  <meta name="HandheldFriendly" content="true">

    {% block meta_tags %}
        {% include_meta_tags %}
    {% endblock %}

  <link href ="https://fonts.google.com/selection?subset=cyrillic&category=Serif,Sans+Serif&selection.family=Fira+Sans+Condensed:400,500,700|Fira+Sans+Extra+Condensed:400,500,700|Fira+Sans:300,400,400i,500,500i,700,700i,800&selection.subset=cyrillic" rel="stylesheet">
  <link href="{% static 'css/plugins.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/styles.min.css' %}" rel="stylesheet">

  <meta property="og:title" content="">
  <meta property="og:url" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="500">
  <meta property="og:image:height" content="300">
  <meta property="twitter:description" content="">
  <link rel="image_src" href="">


  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <!--[if lt IE 9 ]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div id="cookie-policy-info" class="cookie-policy" role="alert">
    <div class="wrapper">
      <noindex>
        <p>Наш сайт использует cookie-файлы, данные об IP-адресе и вашем местоположении для того, чтобы сделать сайт максимально удобным для Вас.</p>
        <p>Если Вы продолжите пользоваться нашими услугами, мы будем считать, что Вы согласны с использованием cookie-файлов.</p>
        <p><a href="/policy/">Политика конфиденциальности</a></p>
        <p>&nbsp;</p>
        <button id="cookie-policy-btn" class="cookie-policy-button" type="button"><span>Принять</span></button>
      </noindex>
    </div>
  </div>

  <script type="text/javascript">
    function isReadCookiePolicy() {
      var e = Cookies.get("isReadCookiePolicy"),
        o = document.getElementById("cookie-policy-info");
      o.style.display = void 0 !== e ? "none" : "block"
    }

    function clickCookieBtn() {
      var e = document.getElementById("cookie-policy-info");
      Cookies.set("isReadCookiePolicy", "true", {
        expires: 365
      }), e.style.display = "none"
    }
    document.getElementById("cookie-policy-btn").addEventListener("click", clickCookieBtn, !1), document.addEventListener("DOMContentLoaded", isReadCookiePolicy);
  </script>


  <div class="container">
    <div class="content">

      {% include 'header.html' %}

      <div class="page-heading">
        <div class="wrapper">
          <div class="breadcrumbs" itemprop="breadcrumb">
            <a href="/">Главная</a> <span>/</span> Контакты
          </div>

          <div class="heading" role="heading">
            <h1>Контакты</h1>
          </div>
        </div>
      </div>

      <div class="contacts">
        <div class="wrapper">
          <div class="contacts-top">
            <div class="clr">
              <div class="feedback">
                <div class="heading">Есть вопросы? <br> Напишите нам</div>
                <div class="button">
                  <a href="#feedback" class="btn" data-modal><span>написать</span></a>
                </div>

                <div id="feedback" class="modal modal-md mfp-hide">
                  <div class="modal-content">
                    <div class="block-heading">
                      <h2>Напишите нам</h2>

                      <div class="block-heading-text">
                        <p>Поля отмеченные <sup>*</sup> - обязательны для заполнения</p>
                      </div>
                    </div>

                    <div class="modal-body">
                      <form action="">
                        <label>
          <span>Ваше имя <sup>*</sup></span>
          <input type="text" required>
        </label>
                        <label>
          <span>Ваш Email <sup>*</sup></span>
          <input type="email" required>
        </label>
                        <label>
          <span>Тема письма</span>
          <input type="text">
        </label>
                        <label>
          <span>Ваше сообщение</span>
          <textarea></textarea>
        </label>

                        <label class="rules">
          <input type="checkbox" required>
          <div class="checkbox">
            <span>Я согласен с <a href="#0">правилами сайта</a></span>
            <p>отправляя форму, я соглашаюсь на обработку моих персональных данных в соответствии c <a href="https://www.consultant.ru/document/cons_doc_LAW_61801/" target="_blank">Федеральным законом от 27 июля 2006 г. №152-ФЗ «О персональных данных»</a></p>
          </div>
        </label>

                        <button type="submit" class="btn"><span>Отправить</span></button>
                      </form>
                    </div>
                  </div>
                </div>

              </div>
              <div class="list">
                <ul>
                  <li>
                    <span>Телефон:</span><span><a href="tel:8 (8112) 44-03-03">8 (8112) 44-03-03</a></span>
                  </li>
                  <li>
                    <span>E-mail:</span><span><a href="mailto:info@clinicmedica.ru">info@clinicmedica.ru</a></span>
                  </li>
                  <li>
                    <span>Адрес:</span><span>180004, Псков, ул. Бастионная, д. 9</span>
                  </li>
                </ul>
              </div>
              <div class="requisites">
                <p>ООО «Клиника»</p>
                <p>ИНН 6027115521 КПП 602701001,</p>
                <p>ОГРН 1086027006141,</p>
                <p>Филиал № 7806 «ВТБ24» (ЗАО)</p>
                <p>р/с 40702810320060000524</p>
                <p>к/с 30101810300000000811 БИК 044030811</p>

                <div class="requisites-button">
                  <a href="#">Скачать реквизиты</a>
                </div>
              </div>
            </div>
          </div>

          <div class="contacts-map">
            <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
            <script src="{% static 'js/map.js' %}"></script>
            <div id="map"></div>
          </div>
        </div>

        <div class="contacts-leadership">
          <div class="wrapper">
            <div class="row clr">
              <div class="column">
                <div class="block-heading">
                  <h2>Директор</h2>
                </div>
                <div class="name">{{ director.full_name }}</div>
                <div class="photo">
                  <img src="{{ director.image.url }}" alt="{{ director.full_name }}">
                </div>
              </div>

              <div class="column">
                <div class="block-heading">
                  <h2>Главный врач</h2>
                </div>
                <div class="name">{{ main_doctor.full_name }}</div>
                <div class="photo">
                  <img src="{{ main_doctor.image.url }}" alt="{{ main_doctor.full_name }}">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="contacts-managers">
          <div class="wrapper">
            <div class="block-heading">
              <h2>Наши администраторы</h2>
            </div>

            <div class="contacts-managers-list">
                {% for manager in administration %}
              <div class="manager">
                <div class="name">{{ manager.full_name }}</div>
                <div class="photo">
                  <img src="{{ manager.image.url }}" alt="{{ manager.full_name }}">
                </div>
              </div>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>

    </div>

    {% include 'footer.html' %}

  </div>

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/js.cookie.min.js' %}"></script>
  <script src="{% static 'js/plugins/magnific-popup.min.js' %}"></script>



  <script src="{% static 'js/libs.js' %}"></script>

  <div class="counters">counters</div>

</body>

</html>