<!--

╔╔╗╔╔╔═╔═  ╔╗╦║║╦╗╦╔╗
║║║╠╠╠═╠═  ╚╗║║║║║║║║
╚╚╝║║╚═╚═  ╚╝║╚╝╩╝╩╚╝

www.coffeestudio.ru
support: web@coffeestudio.ru
creature: 2017

-->


<!DOCTYPE html>
{% load static %}
{% load meta_tags %}
<html lang="ru" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="telephone=no" name="format-detection">
  <meta name="HandheldFriendly" content="true">

    {% block meta_tags %}
        {% include_meta_tags model_instance=department %}
    {% endblock %}

  <link href ="https://fonts.google.com/selection?subset=cyrillic&category=Serif,Sans+Serif&selection.family=Fira+Sans+Condensed:400,500,700|Fira+Sans+Extra+Condensed:400,500,700|Fira+Sans:300,400,400i,500,500i,700,700i,800&selection.subset=cyrillic" rel="stylesheet">
  <link href="{% static 'css/plugins.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/styles.min.css' %}" rel="stylesheet">

  <meta property="og:title" content="">
  <meta property="og:url" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="500">
  <meta property="og:image:height" content="300">
  <meta property="twitter:description" content="">
  <link rel="image_src" href="">


  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <!--[if lt IE 9 ]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div id="cookie-policy-info" class="cookie-policy" role="alert">
    <div class="wrapper">
      <noindex>
        <p>Наш сайт использует cookie-файлы, данные об IP-адресе и вашем местоположении для того, чтобы сделать сайт максимально удобным для Вас.</p>
        <p>Если Вы продолжите пользоваться нашими услугами, мы будем считать, что Вы согласны с использованием cookie-файлов.</p>
        <p><a href="/policy/">Политика конфиденциальности</a></p>
        <p>&nbsp;</p>
        <button id="cookie-policy-btn" class="cookie-policy-button" type="button"><span>Принять</span></button>
      </noindex>
    </div>
  </div>

  <script type="text/javascript">
    function isReadCookiePolicy() {
      var e = Cookies.get("isReadCookiePolicy"),
        o = document.getElementById("cookie-policy-info");
      o.style.display = void 0 !== e ? "none" : "block"
    }

    function clickCookieBtn() {
      var e = document.getElementById("cookie-policy-info");
      Cookies.set("isReadCookiePolicy", "true", {
        expires: 365
      }), e.style.display = "none"
    }
    document.getElementById("cookie-policy-btn").addEventListener("click", clickCookieBtn, !1), document.addEventListener("DOMContentLoaded", isReadCookiePolicy);
  </script>


  <div class="container">
    <div class="content">

      {% include 'header.html' %}

      <div class="page-heading with-img">
        <div class="img">
          <img src="{{ department.image.url }}" alt="{{ department.name }}">
        </div>

        <div class="wrapper">
          <div class="breadcrumbs" itemprop="breadcrumb">
            <a href="/">Главная</a> <span>/</span> <a href="{% url 'services' %}">Направления деятельности</a> <span>/</span> {{ department.name }}
          </div>

          <div class="heading" role="heading">
            <h1>{{ department.name }}</h1>

            <div class="heading-text">
              <p>{{ department.description }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="department">
      {% if department.consult_doctor.id %}
        <div class="department-consult">
          <div class="wrapper">
            <div class="clr">
              <div class="left">
                <div class="content">
                  <div class="heading">Консультация врача-специалиста</div>
                  <div class="price">{{ department.consult_price }} руб.</div>
                  <div class="button">
                    <a href="#get-call" class="btn" data-modal><span>Записаться на прием</span></a>
                  </div>
                </div>
              </div>
                
              <div class="card">
                <div class="content">
                  <div class="photo">
                    <img src="{{ department.consult_doctor.image.url }}" alt="{{ department.consult_doctor.name }}">
                  </div>
                  <div class="name">{{ department.consult_doctor.name }}</div>
                  <div class="position">{{ department.consult_doctor.position }}</div>
                  <div class="links">
                    <a href="{% url 'doctor_card' department.consult_doctor.id %}">Карточка врача</a>
                    <a href="{% url 'doctor_card' department.consult_doctor.id %}">Отзывы о враче</a>
                  </div>
                </div>

                <div class="button">
                  <a href="#get-call" class="btn"><span>Проконсультироваться</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}

        <div class="why-we">
          <div class="wrapper">
            <div class="block-heading">
              <h2>Услуги отделения</h2>
            </div>

            <div class="row clr">
                {% for service in services %}
              <div class="why-we-item">
                <div class="content">
                  <a href="#0" onclick="dynamicPriceTable({{ service.id }}, {{ department.id }})" >{{ service.service_name }}<span>Подробнее</span></a>
                </div>
              </div>
                {% endfor %}
            </div>
          </div>
        </div>

        <div class="department-price" id="toggle" style="display: none" data-view="{% url 'price_list' %}">
          <div class="wrapper">
            <div class="block-heading">
              <h2>ЦЕны</h2>

              <div class="block-heading-link">
                <a href="{{ price_file.file.url }}">Скачать полный прайс-лист</a>
              </div>
            </div>

            <table>
              <thead>
                <tr>
                  <th>Наименование</th>
                  <th>цена</th>
                  <th>Сроки</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>

        <div class="main-expert">
          <div class="wrapper">
            <div class="block-heading">
              <h2>Наши ведущие специалисты</h2>

              <div class="block-heading-link">
                <a href="{% url 'doctors' %}"><span>Все врачи нашей клиники</span></a>
              </div>
            </div>

            <div class="main-expert-carousel not-slick">
                {% for pair in doctors %}
              <div class="carousel-item">
                  {% for doctor in pair %}
                <div class="item">
                  <div class="expert-card">
                    <div class="expert-card-photo">
                      <a href="{% url 'doctor_card' doctor.id %}"><img src="{{ doctor.image.url }}" alt=""></a>
                    </div>

                    <div class="expert-card-info">
                      <div class="name">{{ doctor.name }}</div>
                      <div class="position">{{ doctor.position }}</div>
                      <div class="links">
                        <a href="{% url 'doctor_card' doctor.id %}">Карточка врача</a>
                        <a href="{% url 'doctor_card' doctor.id %}">Отзывы о враче</a>
                      </div>
                    </div>
                  </div>
                  <div class="consult-btn">
                    <a href="#get-call" class="btn"><span>Проконсультироваться</span></a>
                  </div>
                </div>
                  {% endfor %}

              </div>
            {% endfor %}
            </div>

            <div class="clr">
              <div class="carousel-arrows">
                <div class="carousel-slides-num"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="main-news">
          <div class="wrapper">
            <div class="block-heading">
              <h2>Полезная информация</h2>

              <div class="block-heading-link">
                <a href="news.html"><span>все статьи</span></a>
              </div>
            </div>

            <div class="main-news-list">
                {% for news in articles %}
                {% if news.get_image %}
              <div class="news-block">
                <div class="content">
                  {% for image in news.get_image %}
                  <div class="img">
                    <a href="text-page.html">
                      <img src="{{ image.image.url }}" alt="">
                    </a>
                  </div>
                    {% endfor %}
                  <div class="title">
                    <a href="text-page.html">{{ news.title }}</a>
                  </div>
                  <div class="story">
                    <p>{{ news.preview|truncatechars_html:128 }}</p>
                  </div>
                  <div class="news-block-bottom">
                    <div class="date">{{ news.date|date:"d.m.Y" }}</div>
                    <div class="more">
                      <a href="text-page.html">Подробнее</a>
                    </div>
                  </div>
                </div>
              </div>
              {% else %}
              <div class="news-block without-img">
                <div class="content">
                  <div class="title">
                    <a href="text-page.html">{{ news.title }}</a>
                  </div>
                  <div class="story">
                    <p>{{ news.preview|truncatechars_html:386 }}</p>
                  </div>
                  <div class="news-block-bottom">
                    <div class="date">{{ news.date|date:"d.m.Y" }}</div>
                    <div class="more">
                      <a href="text-page.html">Подробнее</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
             </div>
            </div>
          </div>
        </div>

        <div class="main-programs">
          <div class="wrapper">
            <div class="main-programs-content">
              <div class="block-heading">
                <h2>Медицинские программы</h2>
              </div>

              <div class="main-programs-slider">
                <div class="slider">
                  <div class="slider-carousel not-slick">
                    <div class="slider-carousel-item">
                      <div class="heading">Женское здоровье</div>
                      <div class="list">
                        <ul>
                          <li>Консультации</li>
                          <li>Контрацепция</li>
                          <li>Ведение беременности</li>
                          <li>Лазерные технологии</li>
                        </ul>
                      </div>
                      <div class="button">
                        <a href="#0" class="btn"><span>Заказать комплекс</span></a>
                      </div>
                    </div>
                    <div class="slider-carousel-item">
                      <div class="heading">Мужское здоровье</div>
                      <div class="list">
                        <ul>
                          <li>Консультации</li>
                          <li>Контрацепция</li>
                          <li>Лазерные технологии</li>
                        </ul>
                      </div>
                      <div class="button">
                        <a href="#0" class="btn"><span>Заказать комплекс</span></a>
                      </div>
                    </div>
                  </div>

                  <div class="slider-dots">
                    <div class="slider-dots-num"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




    {% include 'footer.html' %}

  </div>

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/js.cookie.min.js' %}"></script>
  <script src="{% static 'js/plugins/magnific-popup.min.js' %}"></script>


  <script src="{% static 'js/plugins/slick.min.js' %}"></script>


  <script src="{% static 'js/libs.js' %}"></script>

  <div class="counters">counters</div>

</body>

</html>