<!--

╔╔╗╔╔╔═╔═  ╔╗╦║║╦╗╦╔╗
║║║╠╠╠═╠═  ╚╗║║║║║║║║
╚╚╝║║╚═╚═  ╚╝║╚╝╩╝╩╚╝

www.coffeestudio.ru
support: web@coffeestudio.ru
creature: 2017

-->


<!DOCTYPE html>
{% load static %}
{% load meta_tags %}
<html lang="ru" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="telephone=no" name="format-detection">
  <meta name="HandheldFriendly" content="true">

    {% block meta_tags %}
        {% include_meta_tags model_instance=doctor %}
    {% endblock %}

  <link href ="https://fonts.google.com/selection?subset=cyrillic&category=Serif,Sans+Serif&selection.family=Fira+Sans+Condensed:400,500,700|Fira+Sans+Extra+Condensed:400,500,700|Fira+Sans:300,400,400i,500,500i,700,700i,800&selection.subset=cyrillic" rel="stylesheet">
  <link href="{% static 'css/plugins.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/styles.min.css' %}" rel="stylesheet">

  <meta property="og:title" content="">
  <meta property="og:url" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="500">
  <meta property="og:image:height" content="300">
  <meta property="twitter:description" content="">
  <link rel="image_src" href="">


  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <!--[if lt IE 9 ]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div id="cookie-policy-info" class="cookie-policy" role="alert">
    <div class="wrapper">
      <noindex>
        <p>Наш сайт использует cookie-файлы, данные об IP-адресе и вашем местоположении для того, чтобы сделать сайт максимально удобным для Вас.</p>
        <p>Если Вы продолжите пользоваться нашими услугами, мы будем считать, что Вы согласны с использованием cookie-файлов.</p>
        <p><a href="/policy/">Политика конфиденциальности</a></p>
        <p>&nbsp;</p>
        <button id="cookie-policy-btn" class="cookie-policy-button" type="button"><span>Принять</span></button>
      </noindex>
    </div>
  </div>

  <script type="text/javascript">
    function isReadCookiePolicy() {
      var e = Cookies.get("isReadCookiePolicy"),
        o = document.getElementById("cookie-policy-info");
      o.style.display = void 0 !== e ? "none" : "block"
    }

    function clickCookieBtn() {
      var e = document.getElementById("cookie-policy-info");
      Cookies.set("isReadCookiePolicy", "true", {
        expires: 365
      }), e.style.display = "none"
    }
    document.getElementById("cookie-policy-btn").addEventListener("click", clickCookieBtn, !1), document.addEventListener("DOMContentLoaded", isReadCookiePolicy);
  </script>


  <div class="container">
    <div class="content">

      {% include 'header.html' %}

      <div class="page-heading doctor-heading">
        <div class="wrapper">
          <div class="breadcrumbs" itemprop="breadcrumb">
            <a href="/">Главная</a> <span>/</span> <a href="{% url 'doctors' %}">Врачи</a> <span>/</span> <a href="{% url 'department' doctor.department.id %}">{{ doctor.department.short_name }}</a> <span>/</span> {{ doctor.name }}
          </div>

          <div class="heading" role="heading">
            <h1>{{ doctor.name }}</h1>

            <div class="position">{{ doctor.position }}</div>
          </div>

          <div class="buttons">
            <a href="#get-call" class="btn" data-modal><span>Записаться на прием</span></a>
            <a href="#ask-question" class="btn" data-modal><span>Задать вопрос</span></a>
            <a href="#add-review" class="btn" data-modal><span>Добавить отзыв</span></a>
          </div>


          <div id="ask-question" class="modal modal-md modal-review mfp-hide">
            <div class="modal-content">
              <div class="block-heading">
                <h2>Добавить отзыв</h2>
              </div>
              <div class="modal-body">
                <form action="" method="post">{% csrf_token %}
                  <label for="id_customer_name">
                      <span>Ваше имя:</span>
                      <input type="text" name="customer_name" maxlength="32" required="" id="id_customer_name">
                  </label>
                  <label for="id_question">
                      <span>Вопрос:</span>
          <textarea name="question" cols="40" rows="10" maxlength="90" required="" id="id_question"></textarea>
                  </label>
                    <label for="id_department">
                      <span>Выберите отделение:</span>
                  <select name="department" required="" id="id_department" >

                      {% for id, department in question_form.fields.department.choices %}
                  <option value="{{ id }}">{{ department }}</option>
                      {% endfor %}
                  </select>
                  </label>
                  <label class="rules">
                      <input type="checkbox" required>
                      <div class="checkbox">
                          <span>Я согласен с <a href="#0">правилами сайта</a></span>
                          <p>отправляя форму, я соглашаюсь на обработку моих персональных данных в соответствии c <a href="https://www.consultant.ru/document/cons_doc_LAW_61801/" target="_blank">Федеральным законом от 27 июля 2006 г. №152-ФЗ «О персональных данных»</a></p>
                      </div>
                  </label>

                  <button type="submit" class="btn"><span>Отправить</span></button>
                  <button type="button" class="btn btn-reset"><span>Отменить</span></button>
                </form>
              </div>
            </div>
          </div>

          <div id="add-review" class="modal modal-md modal-review mfp-hide">
            <div class="modal-content">
              <div class="block-heading">
                <h2>Добавить отзыв</h2>
              </div>

              <div class="modal-body">
                <form action="" method="post">{% csrf_token %}
                  <label for="id_customer_name">
                      <span>Имя</span>
                      <input name="customer_name" id="id_customer_name" required type="text" maxlength="64">
                  </label>
                  <label for="id_doctor">
                      <span>Выберите специалиста</span>
                  <select name="doctor" id="id_doctor" >

                      {% for id, name in review_form.fields.doctor.choices %}
                  <option value="{{ id }}">{{ name }}</option>
                      {% endfor %}
                  </select>
                      </label>
                  <label for="id_review">
                      <span>Отзыв</span>
          <textarea name="review" id="id_review" required="" rows="10" cols="40"></textarea>
                  </label>
                  <label class="rules">
                      <input type="checkbox" required>
                      <div class="checkbox">
                          <span>Я согласен с <a href="#0">правилами сайта</a></span>
                          <p>отправляя форму, я соглашаюсь на обработку моих персональных данных в соответствии c <a href="https://www.consultant.ru/document/cons_doc_LAW_61801/" target="_blank">Федеральным законом от 27 июля 2006 г. №152-ФЗ «О персональных данных»</a></p>
                      </div>
                  </label>

                  <button type="submit" class="btn"><span>Отправить</span></button>
                  <button type="button" class="btn btn-reset"><span>Отменить</span></button>
                </form>
              </div>
            </div>
          </div>

          <div class="photo">
            <img src="{{ doctor.image.url}}" alt="{{ doctor.name }}">
          </div>
        </div>
      </div>

      <div class="doctors">
        <div class="wrapper">
          <div class="doctor-feature">
            <ul>
                {% for text in doctor.get_textfields %}
              <li>{{ text.description }}</li>
                {% endfor %}
            </ul>

            <div class="quote">
                {% for seniority in doctor.get_seniority %}
              <p>{{ seniority.seniority }}</p>
                {% endfor %}
            </div>
          </div>

          <div class="doctor-review">
            <div class="block-heading">
              <h2>Отзывы о враче</h2>
            </div>

            <div class="row clr" id="reviews">
                {% for review in articles %}
              <div class="doctor-review-item">
                <div class="content">
                  <div class="clr">
                    <div class="name">{{ review.customer_name }}, <span>{{ review.date|date:"d.m.Y" }}</span></div>
                  </div>
                  <div class="text">
                    <p>{{ review.review }}</p>
                  </div>
                </div>
              </div>
                {% endfor %}
            </div>

            <div class="pagination">
              <div class="right">
                <div class="pagination-num"><span>{{ articles.number }}</span> / {{ articles.paginator.num_pages }}</div>
                <div class="pagination-arrows">
                    {% if articles.has_previous %}
                        <a href="?page={{ articles.previous_page_number }}#reviews" class="arrow-prev" title="Назад">Назад</a>
                    {% endif %}
                    {% if articles.has_next %}
                        <a href="?page={{ articles.next_page_number }}#reviews" class="arrow-next" title="Вперед">Вперед</a>
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

    {% include 'footer.html' %}

  </div>

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/js.cookie.min.js' %}"></script>
  <script src="{% static 'js/plugins/magnific-popup.min.js' %}"></script>



  <script src="{% static 'js/libs.js' %}"></script>

  <div class="counters">counters</div>

</body>

</html>