<!--

╔╔╗╔╔╔═╔═  ╔╗╦║║╦╗╦╔╗
║║║╠╠╠═╠═  ╚╗║║║║║║║║
╚╚╝║║╚═╚═  ╚╝║╚╝╩╝╩╚╝

www.coffeestudio.ru
support: web@coffeestudio.ru
creature: 2017

-->


<!DOCTYPE html>
{% load static %}
{% load meta_tags %}
<html lang="ru" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="telephone=no" name="format-detection">
  <meta name="HandheldFriendly" content="true">

    {% block meta_tags %}
    {% include_meta_tags %}
    {% endblock %}

  <link href ="https://fonts.google.com/selection?subset=cyrillic&category=Serif,Sans+Serif&selection.family=Fira+Sans+Condensed:400,500,700|Fira+Sans+Extra+Condensed:400,500,700|Fira+Sans:300,400,400i,500,500i,700,700i,800&selection.subset=cyrillic" rel="stylesheet">
  <link href="{% static 'css/plugins.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/styles.min.css' %}" rel="stylesheet">

  <meta property="og:title" content="">
  <meta property="og:url" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="500">
  <meta property="og:image:height" content="300">
  <meta property="twitter:description" content="">
  <link rel="image_src" href="">


  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <!--[if lt IE 9 ]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div id="cookie-policy-info" class="cookie-policy" role="alert">
    <div class="wrapper">
      <noindex>
        <p>Наш сайт использует cookie-файлы, данные об IP-адресе и вашем местоположении для того, чтобы сделать сайт максимально удобным для Вас.</p>
        <p>Если Вы продолжите пользоваться нашими услугами, мы будем считать, что Вы согласны с использованием cookie-файлов.</p>
        <p><a href="/policy/">Политика конфиденциальности</a></p>
        <p>&nbsp;</p>
        <button id="cookie-policy-btn" class="cookie-policy-button" type="button"><span>Принять</span></button>
      </noindex>
    </div>
  </div>

  <script type="text/javascript">
    function isReadCookiePolicy() {
      var e = Cookies.get("isReadCookiePolicy"),
        o = document.getElementById("cookie-policy-info");
      o.style.display = void 0 !== e ? "none" : "block"
    }

    function clickCookieBtn() {
      var e = document.getElementById("cookie-policy-info");
      Cookies.set("isReadCookiePolicy", "true", {
        expires: 365
      }), e.style.display = "none"
    }
    document.getElementById("cookie-policy-btn").addEventListener("click", clickCookieBtn, !1), document.addEventListener("DOMContentLoaded", isReadCookiePolicy);
  </script>


  <div class="container">
    <div class="content">

      {% include 'header.html' %}

      <div class="clr">
        <div class="main-slider">
          <div class="slider">
            <div class="slider-carousel not-slick">
                {% for slide in slides %}
                    {% for image in slide.get_image %}
              <div class="slider-carousel-item" style=" background-image: url({{ image.image.url }}); background-repeat: no-repeat;background-position: unset;background-size: cover">
                <div class="heading">
                  <p>{{ slide.title }} <span class="small">{{ slide.preview|safe }}</span></p>
                </div>
                <div class="more">
                  <a href="{% url 'text_page' slide.id %}"><span>Подробнее</span></a>
                </div>
              </div>
                    {% endfor %}
                {% endfor %}
            </div>

            <div class="slider-dots">
              <div class="slider-dots-num"></div>
            </div>
          </div>
        </div>

        <div class="main-services">
          <div class="main-services-content">
            <div class="row clr">
                {% for item in departments %}
              <div class="item">
                <a href="{% url 'department' item.id %}">
                  <span>{{ item.short_name }}</span>
                  <span class="more"><b>Подробнее</b></span>
                </a>
              </div>
                {% endfor %}
            </div>

            <div class="all-services">
              <a href="{% url 'services' %}" class="btn"><span>Смотреть все услуги</span></a>
            </div>
          </div>
        </div>
      </div>

      <div class="why-we">
        <div class="wrapper">
          <div class="block-heading">
            <h2>Почему мы?</h2>
          </div>

          <div class="row clr">
            <div class="why-we-item">
              <div class="content">
                <span class="icon"><img src="{% static 'images/icons/why-we-icon-1.png' %}" alt=""></span>
                <p>Выдача <strong>справок</strong></p>
              </div>
            </div>
            <div class="why-we-item">
              <div class="content">
                <span class="icon"><img src="{% static 'images/icons/why-we-icon-2.png' %}" alt=""></span>
                <p>Врачи более <strong>50 видов</strong> специальностей</p>
              </div>
            </div>
            <div class="why-we-item">
              <div class="content">
                <span class="icon"><img src="{% static 'images/icons/why-we-icon-3.png' %}" alt=""></span>
                <p>Дневной <strong>стационар</strong></p>
              </div>
            </div>
            <div class="why-we-item">
              <div class="content">
                <span class="icon"><img src="{% static 'images/icons/why-we-icon-4.png' %}" alt=""></span>
                <p><strong>Рентген, УЗИ</strong></p>
              </div>
            </div>
            <div class="why-we-item">
              <div class="content">
                <span class="icon"><img src="{% static 'images/icons/why-we-icon-5.png' %}" alt=""></span>
                <p><strong>Педиатрическое</strong> отделение</p>
              </div>
            </div>
            <div class="why-we-item">
              <div class="content">
                <span class="icon"><img src="{% static 'images/icons/why-we-icon-6.png' %}" alt=""></span>
                <p>Более 2500 видов медицинских <strong>анализов</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="main-expert">
        <div class="wrapper">
          <div class="block-heading">
            <h2>Наши ведущие специалисты</h2>

            <div class="block-heading-link">
              <a href="{% url 'doctors' %}"><span>Все врачи нашей клиники</span></a>
            </div>
          </div>

          <div class="main-expert-carousel not-slick">
                {% for pair in doctors %}
              <div class="carousel-item">
                  {% for doctor in pair %}
                <div class="item">
                  <div class="expert-card">
                    <div class="expert-card-photo">
                      <a href="{% url 'doctor_card' doctor.id %}"><img src="{{ doctor.image.url }}" alt=""></a>
                    </div>

                    <div class="expert-card-info">
                      <div class="name">{{ doctor.name }}</div>
                      <div class="position">{{ doctor.position }}</div>
                      <div class="links">
                        <a href="{% url 'doctor_card' doctor.id %}">Карточка врача</a>
                        <a href="{% url 'doctor_card' doctor.id %}">Отзывы о враче</a>
                      </div>
                    </div>
                  </div>
                  <div class="consult-btn">
                    <a href="#get-call" class="btn" data-modal><span>Проконсультироваться</span></a>
                  </div>
                </div>
                  {% endfor %}

              </div>
            {% endfor %}
          </div>

          <div class="clr">
            <div class="carousel-arrows">
              <div class="carousel-slides-num"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="main-programs">
        <div class="wrapper">
          <div class="main-programs-content">
            <div class="block-heading">
              <h2>Медицинские программы</h2>
            </div>

            <div class="main-programs-slider">
              <div class="slider">
                <div class="slider-carousel not-slick">
                  <div class="slider-carousel-item">
                    <div class="heading">Женское здоровье</div>
                    <div class="list">
                      <ul>
                        <li>Консультации</li>
                        <li>Контрацепция</li>
                        <li>Ведение беременности</li>
                        <li>Лазерные технологии</li>
                      </ul>
                    </div>
                    <div class="button">
                      <a href="#0" class="btn"><span>Заказать комплекс</span></a>
                    </div>
                  </div>
                  <div class="slider-carousel-item">
                    <div class="heading">Мужское здоровье</div>
                    <div class="list">
                      <ul>
                        <li>Консультации</li>
                        <li>Контрацепция</li>
                        <li>Лазерные технологии</li>
                      </ul>
                    </div>
                    <div class="button">
                      <a href="#0" class="btn"><span>Заказать комплекс</span></a>
                    </div>
                  </div>
                </div>

                <div class="slider-dots">
                  <div class="slider-dots-num"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="our-clinic">
        <div class="wrapper">
          <div class="block-heading">
            <h2>Наша клиника</h2>

            <div class="block-heading-link">
              <a href="#0"><span>смотреть фото нашей клиники</span></a>
            </div>
          </div>

          <div class="our-clinic-description top">
            <p><span style="color: #0050a5;"><strong>3 этаж.</strong></span> <strong>Отделения:</strong> эндоскопии. <strong>Центр амбулаторной хирургии:</strong> травматология, гинекология, урология, проктология, флебология, общая хирургия.</p>
          </div>

          <div class="our-clinic-scheme">
            <img src="{% static 'images/our-clinic.png' %}" alt="">

            <div class="dot" style="top: 23.54%; left: 8.25%;">
              <div class="dot-icon"><img src="{% static 'images/icons/oc-scheme-icon-1.png' %}" alt=""></div>
              <div class="dot-content">
                <p>Центр амбулаторной хирургии</p>
              </div>
            </div>

            <div class="dot" style="top: 71.74%; left: 10.55%;">
              <div class="dot-icon"><img src="{% static 'images/icons/oc-scheme-icon-2.png' %}" alt=""></div>
              <div class="dot-content">
                <p>Центр амбулаторной хирургии</p>
              </div>
            </div>

            <div class="dot" style="top: 11.21%; left: 24.77%;">
              <div class="dot-icon"><img src="{% static 'images/icons/oc-scheme-icon-3.png' %}" alt=""></div>
              <div class="dot-content">
                <p>Центр амбулаторной хирургии</p>
              </div>
            </div>

            <div class="dot" style="top: 85.20%; left: 34%;">
              <div class="dot-icon"><img src="{% static 'images/icons/oc-scheme-icon-4.png' %}" alt=""></div>
              <div class="dot-content">
                <p>Центр амбулаторной хирургии</p>
              </div>
            </div>

            <div class="dot" style="top: 22.43%; left: 43.10%;">
              <div class="dot-icon"><img src="{% static 'images/icons/oc-scheme-icon-5.png' %}" alt=""></div>
              <div class="dot-content">
                <p>Центр амбулаторной хирургии</p>
              </div>
            </div>

            <div class="dot" style="top: 83%; left: 55.96%;">
              <div class="dot-icon"><img src="{% static 'images/icons/oc-scheme-icon-5.png' %}" alt=""></div>
              <div class="dot-content">
                <p>Центр амбулаторной хирургии</p>
              </div>
            </div>

            <div class="dot" style="top: 14.57%; left: 57.80%;">
              <div class="dot-icon"><img src="{% static 'images/icons/oc-scheme-icon-6.png' %}" alt=""></div>
              <div class="dot-content">
                <p>Центр амбулаторной хирургии</p>
              </div>
            </div>

            <div class="dot" style="top: 87.44%; left: 73%;">
              <div class="dot-icon"><img src="{% static 'images/icons/oc-scheme-icon-1.png' %}" alt=""></div>
              <div class="dot-content">
                <p>Центр амбулаторной хирургии</p>
              </div>
            </div>

            <div class="dot" style="top: 41.48%; left: 71.55%;">
              <div class="dot-icon"><img src="{% static 'images/icons/oc-scheme-icon-4.png' %}" alt=""></div>
              <div class="dot-content">
                <p>Центр амбулаторной хирургии</p>
              </div>
            </div>

            <div class="dot" style="top: 20.18%; left: 80.27%;">
              <div class="dot-icon"><img src="{% static 'images/icons/oc-scheme-icon-7.png' %}" alt=""></div>
              <div class="dot-content">
                <p>Центр амбулаторной хирургии</p>
              </div>
            </div>

            <div class="dot" style="top: 65%; left: 88%;">
              <div class="dot-icon"><img src="{% static 'images/icons/oc-scheme-icon-8.png' %}" alt=""></div>
              <div class="dot-content">
                <p>Центр амбулаторной хирургии</p>
              </div>
            </div>
          </div>


          <div class="our-clinic-description btm">
            <p><span style="color: #0050a5;"><strong>2 этаж.</strong></span> <strong>Отделения:</strong> гинекологии, флебологии, травматологии, диагностическое.</p>
          </div>
        </div>
      </div>

      <div class="main-news">
          <div class="wrapper">
            <div class="block-heading">
              <h2>Полезная информация</h2>

              <div class="block-heading-link">
                <a href="news.html"><span>все статьи</span></a>
              </div>
            </div>

            <div class="main-news-list">
                {% for news in articles %}
                {% if news.get_image %}
              <div class="news-block">
                <div class="content">
                  {% for image in news.get_image %}
                  <div class="img">
                    <a href="{% url 'text_page' news.id %}">
                      <img src="{{ image.image.url }}" alt="">
                    </a>
                  </div>
                    {% endfor %}
                  <div class="title">
                    <a href="{% url 'text_page' news.id %}">{{ news.title }}</a>
                  </div>
                  <div class="story">
                    <p>{{ news.preview|truncatechars_html:128 }}</p>
                  </div>
                  <div class="news-block-bottom">
                    <div class="date">{{ news.date|date:"d.m.Y" }}</div>
                    <div class="more">
                      <a href="{% url 'text_page' news.id %}">Подробнее</a>
                    </div>
                  </div>
                </div>
              </div>
              {% else %}
              <div class="news-block without-img">
                <div class="content">
                  <div class="title">
                    <a href="{% url 'text_page' news.id %}">{{ news.title }}</a>
                  </div>
                  <div class="story">
                    <p>{{ news.preview|truncatechars_html:386 }}</p>
                  </div>
                  <div class="news-block-bottom">
                    <div class="date">{{ news.date|date:"d.m.Y" }}</div>
                    <div class="more">
                      <a href="{% url 'text_page' news.id %}">Подробнее</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
             </div>
            </div>
          </div>


    </div>

    {% include 'footer.html' %}

  </div>

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/js.cookie.min.js' %}"></script>
  <script src="{% static 'js/plugins/magnific-popup.min.js' %}"></script>


  <script src="{% static 'js/plugins/slick.min.js' %}"></script>


  <script src="{% static 'js/libs.js' %}"></script>

  <div class="counters">counters</div>

</body>

</html>