<!--

╔╔╗╔╔╔═╔═  ╔╗╦║║╦╗╦╔╗
║║║╠╠╠═╠═  ╚╗║║║║║║║║
╚╚╝║║╚═╚═  ╚╝║╚╝╩╝╩╚╝

www.coffeestudio.ru
support: web@coffeestudio.ru
creature: 2017

-->


<!DOCTYPE html>
{% load static %}
<html lang="ru" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="telephone=no" name="format-detection">
  <meta name="HandheldFriendly" content="true">

  <title>Многопрофильная клиника MEDICA в Пскове</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <link href ="https://fonts.google.com/selection?subset=cyrillic&category=Serif,Sans+Serif&selection.family=Fira+Sans+Condensed:400,500,700|Fira+Sans+Extra+Condensed:400,500,700|Fira+Sans:300,400,400i,500,500i,700,700i,800&selection.subset=cyrillic" rel="stylesheet">
  <link href="{% static 'css/plugins.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/styles.min.css' %}" rel="stylesheet">

  <meta property="og:title" content="">
  <meta property="og:url" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="500">
  <meta property="og:image:height" content="300">
  <meta property="twitter:description" content="">
  <link rel="image_src" href="">


  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <!--[if lt IE 9 ]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div id="cookie-policy-info" class="cookie-policy" role="alert">
    <div class="wrapper">
      <noindex>
        <p>Наш сайт использует cookie-файлы, данные об IP-адресе и вашем местоположении для того, чтобы сделать сайт максимально удобным для Вас.</p>
        <p>Если Вы продолжите пользоваться нашими услугами, мы будем считать, что Вы согласны с использованием cookie-файлов.</p>
        <p><a href="/policy/">Политика конфиденциальности</a></p>
        <p>&nbsp;</p>
        <button id="cookie-policy-btn" class="cookie-policy-button" type="button"><span>Принять</span></button>
      </noindex>
    </div>
  </div>

  <script type="text/javascript">
    function isReadCookiePolicy() {
      var e = Cookies.get("isReadCookiePolicy"),
        o = document.getElementById("cookie-policy-info");
      o.style.display = void 0 !== e ? "none" : "block"
    }

    function clickCookieBtn() {
      var e = document.getElementById("cookie-policy-info");
      Cookies.set("isReadCookiePolicy", "true", {
        expires: 365
      }), e.style.display = "none"
    }
    document.getElementById("cookie-policy-btn").addEventListener("click", clickCookieBtn, !1), document.addEventListener("DOMContentLoaded", isReadCookiePolicy);
  </script>


  <div class="container">
    <div class="content">
      <header class="header">
        <div class="wrapper">
          <div class="clr">
            <div class="logotype">
              <a href="/" title="Многопрофильная клиника MEDICA в Пскове">
                <span><img src="{% static 'images/logotype.png' %}" alt="Многопрофильная клиника MEDICA в Пскове"></span>
                <span>Многопрофильная клиника <b>MEDICA</b> в Пскове</span>
              </a>
            </div>

            <div class="header-contacts">
              <ul>
                <li class="address">г. Псков, ул. <br> Бастионная, д. 9</li>
                <li class="work-time">
                  <p>Пн - Пт: с 8:00 до 20:00</p>
                  <p>Сб: с 8:00 до 18:00</p>
                </li>
                <li class="phone">
                  <a href="tel:8 (8112) 44-03-03">8 (8112) 44-03-03</a>
                </li>
              </ul>
            </div>

            <div class="get-call">
              <a href="#get-call" class="btn" data-modal><span>Записаться на прием</span></a>
            </div>
          </div>
        </div>
      </header>

      <div id="get-call" class="modal modal-md mfp-hide">
        <div class="modal-content">
          <div class="block-heading">
            <h2>Запись на прием</h2>

            <div class="block-heading-text">
              <p>Поля отмеченные <sup>*</sup> - обязательны для заполнения</p>
            </div>
          </div>

          <div class="modal-body">
            <form action="">
              <label>
          <span>Представьтесь, пожалуйста, (полностью ФИО) <sup>*</sup></span>
          <input type="text" required>
        </label>
              <label>
          <span>Контактный телефон <sup>*</sup></span>
          <input type="tel" required>
        </label>
              <label>
          <span>E-mail</span>
          <input type="email">
        </label>
              <label>
          <span>Комментарий</span>
          <textarea></textarea>
        </label>

              <p class="help-text">Проверьте, пожалуйста, указанные Вами номер телефона и адрес электронной почты. Если они были указаны неверно, мы не можем гарантировать обратную связь.</p>

              <label class="rules">
          <input type="checkbox" required>
          <div class="checkbox">
            <span>Я согласен с <a href="#0">правилами сайта</a></span>
            <p>отправляя форму, я соглашаюсь на обработку моих персональных данных в соответствии c <a href="https://www.consultant.ru/document/cons_doc_LAW_61801/" target="_blank">Федеральным законом от 27 июля 2006 г. №152-ФЗ «О персональных данных»</a></p>
          </div>
        </label>

              <button type="submit" class="btn"><span>Отправить</span></button>
            </form>
          </div>
        </div>
      </div>



      <nav class="nav" role="navigation">
        <div class="wrapper">
          <ul>
            <li><a href="/">Главная</a></li>
            <li class="divider"></li>
            <li><a href="#0">Медицинские программы</a></li>
            <li class="divider"></li>
            <li><a href="services.html">Услуги клиники</a></li>
            <li class="divider"></li>
            <li><a href="doctors.html">Врачи</a></li>
            <li class="divider"></li>
            <li><a href="#0">Прайс-лист</a></li>
            <li class="divider"></li>
            <li><a href="#0">Для посетителей</a></li>
            <li class="divider"></li>
            <li><a href="contacts.html">Контакты</a></li>
          </ul>
        </div>
      </nav>




      <div class="page-heading news-heading">
        <div class="wrapper">
          <div class="breadcrumbs" itemprop="breadcrumb">
            <a href="/">Главная</a> <span>/</span> <a href="{% url 'news' %}">Новости</a> <span>/</span> {{ article.title }}
          </div>

          <div class="heading" role="heading">
            <h1>{{ article.title }}</h1>

            <time>{{ article.date|date:"d.m.Y" }}</time>
          </div>
        </div>
      </div>

      <div class="news">
        <div class="wrapper">
          <div class="news-full">
            <div class="news-full-links">
              <div class="back">
                <a href="#{% url 'news' %}" title="Назад"><span>Назад</span></a>
              </div>

              <div class="next">
                <a href="{% url 'text_page' next_article.id %}" title="Следующая"><span>Следующая</span></a>
              </div>

              <div class="prev">
                <a href="{% url 'text_page' previous_article.id %}" title="Предыдущая"><span>Предыдущая</span></a>
              </div>
            </div>

            <div class="news-full-story">
                {% if article.get_image %}
                {% for image in article.get_image %}
              <img src="{{ image.image.url }}" style="float: left; margin-right: 75px;" alt="">
                {% endfor %}
                {% endif %}
              <p>&nbsp;</p>
              <p>&nbsp;</p>
                {{ article.text|safe }}

              <div class="img-gallery">
                  {% for image in article.get_other_images %}
                <div class="item">
                  <a href="{{ image.image.url }}">
                    <img src="{{ image.image.url }}" alt="">
                  </a>
                </div>
                  {% endfor %}
{#                <div class="item">#}
{#                  <a href="temp/news-gallery-img-2.jpg">#}
{#                    <img src="temp/news-gallery-img-2.jpg" alt="">#}
{#                  </a>#}
{#                </div>#}
{#                <div class="item">#}
{#                  <a href="temp/news-gallery-img-3.jpg">#}
{#                    <img src="temp/news-gallery-img-3.jpg" alt="">#}
{#                  </a>#}
{#                </div>#}
{#                <div class="item">#}
{#                  <a href="temp/news-gallery-img-4.jpg">#}
{#                    <img src="temp/news-gallery-img-4.jpg" alt="">#}
{#                  </a>#}
{#                </div>#}
{#                <div class="item">#}
{#                  <a href="temp/news-gallery-img-5.jpg">#}
{#                    <img src="temp/news-gallery-img-5.jpg" alt="">#}
{#                  </a>#}
{#                </div>#}
{#                <div class="item">#}
{#                  <a href="temp/news-gallery-img-1.jpg">#}
{#                    <img src="temp/news-gallery-img-1.jpg" alt="">#}
{#                  </a>#}
{#                </div>#}
              </div>
            </div>

            <div class="news-full-links">
              <div class="back">
                <a href="#{% url 'news' %}" title="Назад"><span>Назад</span></a>
              </div>

              <div class="next">
                <a href="{% url 'text_page' next_article.id %}" title="Следующая"><span>Следующая</span></a>
              </div>

              <div class="prev">
                <a href="{% url 'text_page' previous_article.id %}" title="Предыдущая"><span>Предыдущая</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

    <footer class="footer">
      <div class="wrapper">
        <div class="clr">
          <div class="footer-left">
            <div class="logotype">
              <a href="/" title="Многопрофильная клиника MEDICA в Пскове">
                <span><img src="{% static 'images/logotype.png' %}" alt="Многопрофильная клиника MEDICA в Пскове"></span>
              </a>
            </div>

            <address>г. Псков, ул. <br> Бастионная, д. 9</address>

            <div class="phone">
              <a href="tel:88112440303">8 (8112) 44-03-03</a>
            </div>

            <ul class="social">
              <li>
                <a href="#0" target="_blank"><img src="images/vk-icon.png" alt="VK.com"></a>
              </li>
              <li>
                <a href="#0" target="_blank"><img src="images/fb-icon.png" alt="Facebook"></a>
              </li>
              <li>
                <a href="#0" target="_blank"><img src="images/gp-icon.png" alt="Google+"></a>
              </li>
            </ul>
          </div>

          <div class="footer-right">
            <div class="footer-links">
              <div class="clr">
                <ul class="left">
                  <li><a href="#0">Врачи</a></li>
                  <li><a href="#0">Медицинские программы</a></li>
                  <li><a href="#0">Контакты</a></li>
                </ul>

                <ul class="center">
                  <li>
                    <a href="#0">Услуги клиники</a>

                    <div class="row clr">
                      <ul>
                        <li><a href="#0">Гинекология</a></li>
                        <li><a href="#0">Кардиология</a></li>
                        <li><a href="#0">Маммология</a></li>
                        <li><a href="#0">Неврология</a></li>
                        <li><a href="#0">Нефрология</a></li>
                        <li><a href="#0">Проктология</a></li>
                        <li><a href="#0">Ревматология</a></li>
                      </ul>

                      <ul>
                        <li><a href="#0">Сосудистая хирургия</a></li>
                        <li><a href="#0">Травматология-ортопедия</a></li>
                        <li><a href="#0">УЗИ</a></li>
                        <li><a href="#0">Урология</a></li>
                        <li><a href="#0">Физиотерапия</a></li>
                        <li><a href="#0">Функциональная диагностика</a></li>
                        <li><a href="#0">Эндокринология</a></li>
                        <li><a href="#0">Эндоскопия</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>

                <ul class="right">
                  <li>
                    <a href="#0">Для посетителей</a>

                    <div class="row clr">
                      <ul>
                        <li><a href="#0">О клинике</a></li>
                        <li><a href="#0">Прайс-лист</a></li>
                        <li><a href="#0">Документы</a></li>
                        <li><a href="#0">Отзывы</a></li>
                        <li><a href="#0">Фотогалерея</a></li>
                        <li><a href="#0">Вопрос-ответ</a></li>
                        <li><a href="#0">Новости</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-line">
        <div class="wrapper">
          <div class="clr">
            <div class="copyright">&copy; Medica. All rights resevered</div>

            <div class="coffee">
              <a href="https://www.coffeestudio.ru/" target="_blank">Сделано в интернет-агенстве <span>Coffee Studio</span></a>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </div>

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/js.cookie.min.js' %}"></script>
  <script src="{% static 'js/plugins/magnific-popup.min.js' %}"></script>


  <script src="{% static 'js/libs.js' %}"></script>

  <div class="counters">counters</div>

</body>

</html>